  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <title>hello-backbonejs</title>
  </head>
  <body>
    <script script data-main="/js/application.js"  src="/js/require.js" ></script>
  </body>
  </html>
            